.nav {
  height: fit-content;
  background: var(--gray-11);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--size-3);
}

.ul {
  width: fit-content;
  display: flex;
  color: var(--gray-1);
  gap: var(--size-5);
  font-size: var(--font-size-3);
}
