.nav {
  height: fit-content;
  background: var(--color-black);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--size-3);
}

.ul {
  width: fit-content;
  display: flex;
  color: var(--color-white);
  gap: var(--size-5);
  font-size: var(--font-size-3);
}
