@import "../node_modules/open-props/open-props.min.css";

:root {
  --color-white: #eaeaea;
  --color-grey: #d4d4d4;
  --color-black: #282828;
  --color-main: #498467;
  --color-secondary: #ce796b;
  --color-tertiary: #4381c1;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
button {
  font: 1em var(--font-neo-grotesque);
}

body {
  height: 100vh;
  background: var(--color-white);
  display: grid;
  grid-template-rows: auto 1fr;
}
