@import "../node_modules/open-props/open-props.min.css";

:root {
  --color-white: var(--gray-0);
  --color-grey-lighter: var(--gray-2);
  --color-grey-light: var(--gray-3);
  --color-grey: var(--gray-5);
  --color-grey-dark: var(--gray-7);
  --color-grey-darker: var(--gray-8);
  --color-black: var(--gray-10);
  --color-main: #498467;
  --color-secondary: #ce796b;
  --color-tertiary: #4381c1;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
button {
  font: 1em var(--font-neo-grotesque);
}

#root {
  height: 100vh;
  background: var(--color-white);
  display: grid;
  grid-template-rows: auto 1fr;
}
