:root {
  --space-base: 1rem;
  --space-1: calc(var(--space-base) * 0.5);
  --space-2: calc(var(--space-base) * 1);
  --space-3: calc(var(--space-base) * 2);
  --space-4: calc(var(--space-base) * 4);
}
